{% extends 'base.html' %}

{% load static %}

{% block title %} Connexion {% endblock %}
{% block content %}
    <div class="text-center">
    <h2>Login</h2>
        <form method="post">
          {% csrf_token %}
          {{ form.as_p }}
          <button type="submit" class="btn btn-primary">Se connecter</button>
        </form>
    <a href="{% url 'app_register' %}">S'inscrire</a>
    </div>
{% endblock %}