{% extends 'base.html' %}

{% load static %}
{% block title %} Poster une image {% endblock %}
{% block content %}
    <div class="text-center">
    <h2>Publier une image</h2>
    <form method="post" enctype="multipart/form-data">{% csrf_token %}
        {{ form.as_p }}
        <button class="btn btn-primary" type="submit">Publier</button>
    </form>
    </div>
{% endblock %}