{% extends 'base.html' %}

{% load static %}
{% block title %} Supprimer une image {% endblock %}
{% block content %}
    <div class="text-center">
    {% if user.is_authenticated and user.id == object.author.id %}
        <form method="post">{% csrf_token %}
            <p>Confirmez la suppression de cette publication</p>
            <h2>{{ object.title }}</h2>
            <img src="{{ object.photo.url }}" alt="{{ object.title }}">
            <button class="btn btn-primary" type="submit">Supprimer</button>
        </form>
        {% else %}
        <p>Erreur, ce n'est pas votre image</p>
    {% endif %}
    </div>
{% endblock %}