{% extends 'base.html' %}
{% load static %}

{% block title %} Image {% endblock %}
{% block content %}
    <div class="text-center">
    <h2>{{ object.title }}</h2>
        <a href="/image/detail/{{ object.id }}"><img src="{{ object.photo.url }}" alt="{{ object.title }}"></a>
        {% if object.author.avatar.url != Null %}
        <img class="logo" src="{{ object.author.avatar }}" alt="Avatar de {{ object.author.username }}">
        {% endif %}
        <p>Publié par <a href="{% url 'app_profile' object.author.id %}">{{ object.author.username }}</a></p>
        {% if user.is_authenticated and user.id == object.author.id %}
            <a href="{% url 'app_update_image' object.id %}">Modifier l'image</a>
            <a href="{% url 'app_delete_image' object.id %}">Supprimer l'image</a>
        {% endif %}
    </div>
{% endblock %}