{% extends 'base.html' %}

{% load static %}

{% block title %} Modifier mon image {% endblock %}
{% block content %}
    {% if user.is_authenticated and user.id == object.author.id %}
        <div class="text-center">
        <h2>Modifier une image</h2>
        <form method="post">{% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary">Mettre à jour</button>
        </form>
        <img src="{{ object.photo.url }}" alt="{{ object.title }}">
    {% else %}
        <p>Erreur, ce n'est pas votre image</p>
    {% endif %}
    </div>
{% endblock %}