p {
    margin: 0 !important;
}

nav {
    margin-bottom: 20px;
}

.logo {
    width  : 30px;
    height : auto;
}

.publication {
    width: 30%;
    height: auto;
}

.row {
    margin: 0 !important;
}

main {
    margin-bottom: 40px;
}

.post {
    width: 100%;
    height: auto;
}

.flex_row {
    display: flex;
    flex-direction: row;
}

footer {
    width: 100%;
    bottom: 0;
    left: 0;
    position: fixed;
}

@media screen and (max-width:640px) {

    .publication {
        width: 100%;
        height: auto;
    }

    .post {
        width: 100%;
        height: auto;
    }
}