{% load static %}
<!doctype html>
<html lang="fr">

<head>
    <meta charset="utf-8">
    <title>Chocophoto - {% block title %} {% endblock %}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'vendor/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'vendor/css/bootstrap-grid.css' %}">
    <link rel="stylesheet" href="{% static 'vendor/css/bootstrap-reboot.css' %}">
    <script src="{% static 'vendor/js/jquery-3.4.1.js' %}"></script>
    <script src="{% static 'vendor/js/bootstrap.js' %}"></script>
    <script src="{% static 'vendor/js/bootstrap.bundle.js' %}"></script>
</head>
<body>
<header>
    <nav class="navbar navbar-dark bg-dark">
        <a class="navbar-brand" href="{% url 'app_index' %}">
            <img class="logo d-inline-block align-top" src="{% static 'img/logo.png' %}" alt="Logo du site">Chocophoto
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                {% if user.is_authenticated %}
                    <li class="nav-item active">
                        <a class="nav-link" href="{% url 'app_postImage' %}">Publier une image</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="{% url 'app_image_list' user.id %}">Mes images</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="{% url 'app_profile' user.id %}">Mon profile</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="/accounts/logout">Déconnexion</a>
                    </li>
                {% else %}
                    <li class="nav-item active">
                        <a class="nav-link" href="/accounts/login">Connexion</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="{% url 'app_register' %}">Inscription</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </nav>
</header>
<main>
    {% block content %}

    {%  endblock %}
</main>
<footer class="bg-dark">
    <p class="text-white">Site développé par <a class="text-white" href="https://github.com/Nicolas-Rohrbach" target="_blank">Nicolas Rohrbach</a></p>
</footer>



</body>

</html>