{% load static %}

<div class="card" style="width: 18rem;">
    <a href="{% url 'app_detail_image' object.id %}"><img class="card-img-top" src="{{ object.photo.url }}" alt="{{ object.title }}"></a>
    <div class="card-body">
        <h5 class="card-title">{{ object.title }}</h5>
        <a href="{% url 'app_profile' object.author.id %}">
        {% if object.author.avatar.url != Null %}
        <img class="logo" src="{{ object.author.avatar }}" alt="Avatar de {{ object.author.username }}">
            {% else %}
            <img class="logo" src="{% static 'img/withoutAvatar.jpg' %}" alt="Avatar de {{ object.author.username }}">
        {% endif %}
        </a>
        <p>Publié par <a href="{% url 'app_profile' object.author.id %}">{{ object.author.username }}</a></p>
    </div>
</div>