{% extends 'base.html' %}
{% load static %}

{% block title %} Chocophoto {% endblock %}
{% block content %}
    <h2 class="text-center">Photos des Loulous</h2>
    <div class="row row-cols-4 justify-content-center">
    {% for object in object_list %}
        {% include 'image.html' %}
    {% endfor %}
    </div>
{% endblock %}