{% extends 'base.html' %}

{% load static %}
{% block title %} Supprimer mon compte {% endblock %}
{% block content %}
    <div class="text-center">
    {% if user.is_authenticated and user.id == request.user.id %}
        <form method="post">{% csrf_token %}
            <p>Confirmez la suppression de votre compte</p>
            <h2>{{ object.username }}</h2>
            <button class="btn btn-primary" type="submit">Supprimer</button>
        </form>
        {% else %}
        <p>Erreur, ce n'est pas votre image</p>
    {% endif %}
    </div>
{% endblock %}