{% extends 'base.html' %}

{% load static %}

{% block title %} Mon profile {% endblock %}
{% block content %}
    <div class="text-center">
        {% for object in person %}
        <h2>{{ object.user.username }}</h2>
            {% if object.author.avatar.url != Null %}
             <img src="{{ object.author.avatar }}" alt="Avatar de {{ object.author.username }}">
            {% else %}
            <img src="{% static 'img/withoutAvatar.jpg' %}" alt="Avatar de {{ object.author.username }}">
        {% endif %}
        <div>
            <h3>Bio</h3>
            {{ object.bio }}
        </div>
            {% if user.is_authenticated and user.id == object.user.id %}
                <a href="{% url 'app_profile_update' user.id %}">Modifier mon profile</a>
            {% endif %}
        {% endfor %}
        <h2>Images publiées</h2>
        <div class="row row-cols-4 justify-content-center">
        {% for object in images %}
            {% include 'image.html' %}
        {% endfor %}
        </div>
    </div>
{% endblock %}