{% extends 'base.html' %}

{% load static %}

{% block title %} Inscription {% endblock %}
{% block content %}
    <div class="text-center">
  <h2>Inscription</h2>
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn btn-primary">S'inscrire</button>
  </form>
    <a href="{% url 'app_register' %}">Déjà inscrit ?</a>
    </div>
{% endblock %}