{% extends 'base.html' %}

{% load static %}

{% block title %} Modifier mon profile {% endblock %}
{% block content %}
    <div class="text-center">
        <h2>Modifier mon profile</h2>
        {% if user.is_authenticated and user.id == request.user.id %}
            <form method="post">{% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-primary">Mettre à jour</button>
            </form>
            <a href="{% url 'app_profile_delete' user.id %}">Supprimer mon compte</a>
        {% else %}
            <p>Erreur, ce n'est pas votre profile</p>
        {% endif %}
    </div>
{% endblock %}